#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        bt {
            bindings = <&mo 8>;
            key-positions = <33 36>;
        };

        ga {
            bindings = <&GA>;
            key-positions = <13 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        gi {
            bindings = <&GI>;
            key-positions = <16 1>;
            timeout-ms = <70>;
            layers = <5>;
        };

        gu {
            bindings = <&GU>;
            key-positions = <15 13>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ge {
            bindings = <&GE>;
            key-positions = <11 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        go {
            bindings = <&GO>;
            key-positions = <16 23>;
            timeout-ms = <70>;
            layers = <5>;
        };

        za {
            bindings = <&ZA>;
            key-positions = <6 13>;
            timeout-ms = <70>;
            layers = <5>;
        };

        zi {
            bindings = <&ZI>;
            key-positions = <3 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        zu {
            bindings = <&ZU>;
            key-positions = <13 8>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ze {
            bindings = <&ZE>;
            key-positions = <10 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        zo {
            bindings = <&ZO>;
            key-positions = <16 24>;
            timeout-ms = <70>;
            layers = <5>;
        };

        da {
            bindings = <&DA>;
            key-positions = <13 25>;
            timeout-ms = <70>;
            layers = <5>;
        };

        di {
            bindings = <&DI>;
            key-positions = <25 14>;
            timeout-ms = <70>;
            layers = <5>;
        };

        du {
            bindings = <&DU>;
            key-positions = <13 19>;
            timeout-ms = <70>;
            layers = <5>;
        };

        de {
            bindings = <&DE>;
            key-positions = <2 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        do {
            bindings = <&DO>;
            key-positions = <12 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ba {
            bindings = <&BA_D>;
            key-positions = <16 22>;
            timeout-ms = <70>;
            layers = <5>;
        };

        bi {
            bindings = <&BI_D>;
            key-positions = <16 21>;
            timeout-ms = <70>;
            layers = <5>;
        };

        bu {
            bindings = <&BU_D>;
            key-positions = <28 13>;
            timeout-ms = <70>;
            layers = <5>;
        };

        be {
            bindings = <&BE_D>;
            key-positions = <9 13>;
            timeout-ms = <70>;
            layers = <5>;
        };

        bo {
            bindings = <&BO_D>;
            key-positions = <16 20>;
            timeout-ms = <70>;
            layers = <5>;
        };

        pa {
            bindings = <&PA_P>;
            key-positions = <22 26>;
            timeout-ms = <70>;
            layers = <5>;
        };

        pi {
            bindings = <&PI_P>;
            key-positions = <26 21>;
            timeout-ms = <70>;
            layers = <5>;
        };

        pu {
            bindings = <&PU_P>;
            key-positions = <28 23>;
            timeout-ms = <70>;
            layers = <5>;
        };

        pe {
            bindings = <&PE_P>;
            key-positions = <9 23>;
            timeout-ms = <70>;
            layers = <5>;
        };

        po {
            bindings = <&PO_P>;
            key-positions = <26 20>;
            timeout-ms = <70>;
            layers = <5>;
        };

        kya {
            bindings = <&KYA>;
            key-positions = <1 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        kyu {
            bindings = <&KYU>;
            key-positions = <1 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        kyo {
            bindings = <&KYO>;
            key-positions = <1 7>;
            timeout-ms = <70>;
            layers = <5>;
        };

        sha {
            bindings = <&SHA>;
            key-positions = <3 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        shu {
            bindings = <&SHU>;
            key-positions = <3 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        sho {
            bindings = <&SHO>;
            key-positions = <7 3>;
            timeout-ms = <70>;
            layers = <5>;
        };

        cha {
            bindings = <&CHA>;
            key-positions = <14 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        chu {
            bindings = <&CHU>;
            key-positions = <14 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        cho {
            bindings = <&CHO>;
            key-positions = <7 14>;
            timeout-ms = <70>;
            layers = <5>;
        };

        nya {
            bindings = <&NYA>;
            key-positions = <12 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        nyu {
            bindings = <&NYU>;
            key-positions = <12 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        nyo {
            bindings = <&NYO>;
            key-positions = <7 12>;
            timeout-ms = <70>;
            layers = <5>;
        };

        hya {
            bindings = <&HYA>;
            key-positions = <21 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        hyu {
            bindings = <&HYU>;
            key-positions = <21 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        hyo {
            bindings = <&HYO>;
            key-positions = <7 21>;
            timeout-ms = <70>;
            layers = <5>;
        };

        mya {
            bindings = <&MYA>;
            key-positions = <24 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        myu {
            bindings = <&MYU>;
            key-positions = <24 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        myo {
            bindings = <&MYO>;
            key-positions = <7 24>;
            timeout-ms = <70>;
            layers = <5>;
        };

        rya {
            bindings = <&RYA>;
            key-positions = <2 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ryu {
            bindings = <&RYU>;
            key-positions = <9 2>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ryo {
            bindings = <&RYO>;
            key-positions = <7 2>;
            timeout-ms = <70>;
            layers = <5>;
        };

        gya {
            bindings = <&GYA>;
            key-positions = <16 15 1>;
            timeout-ms = <70>;
            layers = <5>;
        };

        gyu {
            bindings = <&GYU>;
            key-positions = <1 9 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        gyo {
            bindings = <&GYO>;
            key-positions = <1 16 7>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ja {
            bindings = <&JA>;
            key-positions = <16 3 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ju {
            bindings = <&JU>;
            key-positions = <16 3 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        jo {
            bindings = <&JO>;
            key-positions = <16 3 7>;
            timeout-ms = <70>;
            layers = <5>;
        };

        bya {
            bindings = <&BYA>;
            key-positions = <16 21 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        byu {
            bindings = <&BYU>;
            key-positions = <16 21 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        byo {
            bindings = <&BYO>;
            key-positions = <16 7 21>;
            timeout-ms = <70>;
            layers = <5>;
        };

        pya {
            bindings = <&PYA>;
            key-positions = <21 26 15>;
            timeout-ms = <70>;
            layers = <5>;
        };

        pyu {
            bindings = <&PYU>;
            key-positions = <21 26 9>;
            timeout-ms = <70>;
            layers = <5>;
        };

        pyo {
            bindings = <&PYO>;
            key-positions = <21 26 7>;
            timeout-ms = <70>;
            layers = <5>;
        };

        vu {
            bindings = <&VU>;
            key-positions = <21 18 19>;
            timeout-ms = <70>;
            layers = <5>;
        };

        va {
            bindings = <&VA>;
            key-positions = <13 18 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        vi {
            bindings = <&VI>;
            key-positions = <18 13 17>;
            timeout-ms = <70>;
            layers = <5>;
        };

        ve {
            bindings = <&VE>;
            key-positions = <13 8 18>;
            timeout-ms = <70>;
            layers = <5>;
        };

        vo {
            bindings = <&VO>;
            key-positions = <13 18 25>;
            timeout-ms = <70>;
            layers = <5>;
        };

        thi {
            bindings = <&THI>;
            key-positions = <2 17 26>;
            timeout-ms = <70>;
            layers = <5>;
        };

        twu {
            bindings = <&TWU>;
            key-positions = <2 26 26 18>;
            timeout-ms = <70>;
            layers = <5>;
        };

        dhi {
            bindings = <&DHI>;
            key-positions = <16 17 2>;
            timeout-ms = <70>;
            layers = <5>;
        };

        dwu {
            bindings = <&DWU>;
            key-positions = <18 16 16 16 16 16 2>;
            timeout-ms = <70>;
            layers = <5>;
        };

        fa {
            bindings = <&FA>;
            key-positions = <16 19>;
            timeout-ms = <70>;
            layers = <5>;
        };

        fi {
            bindings = <&FI>;
            key-positions = <19 17>;
            timeout-ms = <70>;
            layers = <5>;
        };

        fe {
            bindings = <&FE>;
            key-positions = <8 19>;
            timeout-ms = <70>;
            layers = <5>;
        };

        fo {
            bindings = <&FO>;
            key-positions = <19 25>;
            timeout-ms = <70>;
            layers = <5>;
        };

        che {
            bindings = <&CHE>;
            key-positions = <14 8>;
            timeout-ms = <70>;
            layers = <5>;
        };

        she {
            bindings = <&SHE_EX>;
            key-positions = <8 3>;
            timeout-ms = <70>;
            layers = <5>;
        };

        je {
            bindings = <&JE>;
            key-positions = <19 3 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        wi {
            bindings = <&WI>;
            key-positions = <17 18 18>;
            timeout-ms = <70>;
            layers = <5>;
        };

        we {
            bindings = <&WE>;
            key-positions = <8 18>;
            timeout-ms = <70>;
            layers = <5>;
        };

        who {
            bindings = <&WHO>;
            key-positions = <18 25>;
            timeout-ms = <70>;
            layers = <5>;
        };

        qa {
            bindings = <&QA>;
            key-positions = <15 16>;
            timeout-ms = <70>;
            layers = <5>;
        };

        tsa {
            bindings = <&TSA>;
            key-positions = <16 16 18>;
            timeout-ms = <70>;
            layers = <5>;
        };

        combokanalayer {
            bindings = <&kanalayer>;
            key-positions = <16 17>;
            timeout-ms = <60>;
        };

        comboenglayer {
            bindings = <&englayer>;
            key-positions = <12 13>;
            timeout-ms = <50>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <23 26>;
        };
    };

    macros {
        w0: w0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0>;
            label = "W0";
        };

        macro_wn: macro_wn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp N>;
            label = "WN";
        };

        // --- カ行 ---

        KA: KA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp A>;
            label = "KA";
        };

        KI: KI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp I>;
            label = "KI";
        };

        KU: KU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp U>;
            label = "KU";
        };

        KE: KE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp E>;
            label = "KE";
        };

        KO: KO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp O>;
            label = "KO";
        };

        // --- サ行 ---

        SA: SA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp A>;
            label = "SA";
        };

        SI: SI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp I>;
            label = "SI";
        };

        SU: SU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp U>;
            label = "SU";
        };

        SE: SE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp E>;
            label = "SE";
        };

        SO: SO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp O>;
            label = "SO";
        };

        // --- タ行 ---

        TA: TA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp A>;
            label = "TA";
        };

        TI: TI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp I>;
            label = "TI";
        };

        TU: TU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp U>;
            label = "TU";
        };

        TE: TE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp E>;
            label = "TE";
        };

        TO: TO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp O>;
            label = "TO";
        };

        // --- ナ行 ---

        NA: NA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp A>;
            label = "NA";
        };

        NI: NI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp I>;
            label = "NI";
        };

        NU: NU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp U>;
            label = "NU";
        };

        NE: NE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp E>;
            label = "NE";
        };

        NO: NO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp O>;
            label = "NO";
        };

        // --- ハ行 ---

        HA: HA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp A>;
            label = "HA";
        };

        HI: HI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp I>;
            label = "HI";
        };

        HU: HU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp U>;
            label = "HU";
        };

        HE: HE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp E>;
            label = "HE";
        };

        HO: HO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp O>;
            label = "HO";
        };

        // --- マ行 ---

        MA: MA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp A>;
            label = "MA";
        };

        MI: MI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp I>;
            label = "MI";
        };

        MU: MU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp U>;
            label = "MU";
        };

        ME: ME {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp E>;
            label = "ME";
        };

        MO: MO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp O>;
            label = "MO";
        };

        // --- ヤ行 ---

        YA: YA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Y &kp A>;
            label = "YA";
        };

        YU: YU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Y &kp U>;
            label = "YU";
        };

        YO: YO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Y &kp O>;
            label = "YO";
        };

        // --- ラ行 ---

        RA: ra {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp A>;
            label = "RA";
        };

        RI: RI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp I>;
            label = "RI";
        };

        RU: RU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp U>;
            label = "RU";
        };

        RE: RE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp E>;
            label = "RE";
        };

        RO: RO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp O>;
            label = "RO";
        };

        // --- ワ行 ・ ン ---

        WA: WA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W &kp A>;
            label = "WA";
        };

        WO: WO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W &kp O>;
            label = "WO";
        };

        NN: NN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp N>;
            label = "NN";
        };

        // --- ガ行 (濁音) ---

        GA: GA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp A>;
            label = "GA";
        };

        GI: GI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp I>;
            label = "GI";
        };

        GU: GU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp U>;
            label = "GU";
        };

        GE: GE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp E>;
            label = "GE";
        };

        GO: GO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp O>;
            label = "GO";
        };

        // --- ザ行 (濁音) ---

        ZA: ZA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z &kp A>;
            label = "ZA";
        };

        ZI: ZI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z &kp I>;
            label = "ZI";
        };

        ZU: ZU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z &kp U>;
            label = "ZU";
        };

        ZE: ZE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z &kp E>;
            label = "ZE";
        };

        ZO: ZO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Z &kp O>;
            label = "ZO";
        };

        // --- ダ行 (濁音) ---

        DA: DA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D &kp A>;
            label = "DA";
        };

        DI: DI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D &kp I>;
            label = "DI";
        };

        DU: DU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D &kp U>;
            label = "DU";
        };

        DE: DE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D &kp E>;
            label = "DE";
        };

        DO: DO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D &kp O>;
            label = "DO";
        };

        // --- バ行 (濁音) ---

        BA_D: BA_D {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp A>;
            label = "BA_D";
        };

        BI_D: BI_D {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp I>;
            label = "BI_D";
        };

        BU_D: BU_D {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp U>;
            label = "BU_D";
        };

        BE_D: BE_D {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp E>;
            label = "BE_D";
        };

        BO_D: BO_D {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp O>;
            label = "BO_D";
        };

        // --- パ行 (半濁音) ---

        PA_P: PA_P {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp A>;
            label = "PA_P";
        };

        PI_P: PI_P {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp I>;
            label = "PI_P";
        };

        PU_P: PU_P {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp U>;
            label = "PU_P";
        };

        PE_P: PE_P {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp E>;
            label = "PE_P";
        };

        PO_P: PO_P {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp O>;
            label = "PO_P";
        };

        // --- キャ行 ---

        KYA: KYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp Y &kp A>;
            label = "KYA";
        };

        KYU: KYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp Y &kp U>;
            label = "KYU";
        };

        KYO: KEYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp K &kp Y &kp O>;
            label = "KYO";
        };

        // --- シャ行 ---

        SHA: SHA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp H &kp A>;
            label = "SHA";
        };

        SHU: SHU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp H &kp U>;
            label = "SHU";
        };

        SHO: SHO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp H &kp O>;
            label = "SHO";
        };

        // --- チャ行 ---

        CHA: CHA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C &kp H &kp A>;
            label = "CHA";
        };

        CHU: CHU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C &kp H &kp U>;
            label = "CHU";
        };

        CHO: CHO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C &kp H &kp O>;
            label = "CHO";
        };

        // --- ニャ行 ---

        NYA: NYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp Y &kp A>;
            label = "NYA";
        };

        NYU: NYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp Y &kp U>;
            label = "NYU";
        };

        NYO: NYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp N &kp Y &kp O>;
            label = "NYO";
        };

        // --- ヒャ行 ---

        HYA: HYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp Y &kp A>;
            label = "HYA";
        };

        HYU: HYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp Y &kp U>;
            label = "HYU";
        };

        HYO: HYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp H &kp Y &kp O>;
            label = "HYO";
        };

        // --- ミャ行 ---

        MYA: MYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp Y &kp A>;
            label = "MYA";
        };

        MYU: MYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp Y &kp U>;
            label = "MYU";
        };

        MYO: MYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp M &kp Y &kp O>;
            label = "MYO";
        };

        // --- リャ行 ---

        RYA: RYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp Y &kp A>;
            label = "RYA";
        };

        RYU: RYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp Y &kp U>;
            label = "RYU";
        };

        RYO: RYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp R &kp Y &kp O>;
            label = "RYO";
        };

        // --- ギャ行 ---

        GYA: GYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp Y &kp A>;
            label = "GYA";
        };

        GYU: GYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp Y &kp U>;
            label = "GYU";
        };

        GYO: GYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp G &kp Y &kp O>;
            label = "GYO";
        };

        // --- ジャ行 ---

        JA: JA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J &kp A>;
            label = "JA";
        };

        JU: JU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J &kp U>;
            label = "JU";
        };

        JO: JO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J &kp O>;
            label = "JO";
        };

        // --- ビャ行 ---

        BYA: BYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp Y &kp A>;
            label = "BYA";
        };

        BYU: BYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp Y &kp U>;
            label = "BYU";
        };

        BYO: BYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp B &kp Y &kp O>;
            label = "BYO";
        };

        // --- ピャ行 ---

        PYA: PYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp Y &kp A>;
            label = "PYA";
        };

        PYU: PYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp Y &kp U>;
            label = "PYU";
        };

        PYO: PYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp P &kp Y &kp O>;
            label = "PYO";
        };

        // --- ヴ・ヴァ行 ---

        VU: VU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V &kp U>;
            label = "VU";
        };

        VA: VA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V &kp A>;
            label = "VA";
        };

        VI: VI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V &kp I>;
            label = "VI";
        };

        VE: VE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V &kp E>;
            label = "VE";
        };

        VO: VO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp V &kp O>;
            label = "VO";
        };

        // --- ティ・トゥ ---

        THI: THI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp H &kp I>;
            label = "THI";
        };

        TWU: TWU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp W &kp U>;
            label = "TWU";
        };

        // --- ディ・ドゥ ---

        DHI: DHI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D &kp H &kp I>;
            label = "DHI";
        };

        DWU: DWU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp D &kp W &kp U>;
            label = "DWU";
        };

        // --- ファ・フィ・フェ・フォ ---

        FA: FA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F &kp A>;
            label = "FA";
        };

        FI: FI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F &kp I>;
            label = "FI";
        };

        FE: FE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F &kp E>;
            label = "FE";
        };

        FO: FO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp F &kp O>;
            label = "FO";
        };

        // --- チェ・シェ・ジェ ---

        CHE: CHE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp C &kp H &kp E>;
            label = "CHE";
        };

        SHE_EX: SHE_EX {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp S &kp H &kp E>;
            label = "SHE_EX";
        };

        JE: JE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp J &kp E>;
            label = "JE";
        };

        // --- ウィ・ウェ・ウォ ---

        WI: WI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W &kp I>;
            label = "WI";
        };

        WE: WE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W &kp E>;
            label = "WE";
        };

        WHO: WHO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp W &kp H &kp O>;
            label = "WHO";
        };

        // --- クァ・ツァ ---

        QA: QA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp Q &kp A>;
            label = "QA";
        };

        TSA: TSA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp T &kp S &kp A>;
            label = "TSA";
        };

        // --- 小さいア行 (ぁぃぅぇぉ) ---

        LA: la {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp A>;
            label = "LA";
        };

        LI: LI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp I>;
            label = "LI";
        };

        LU: LU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp U>;
            label = "LU";
        };

        LE: LE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp E>;
            label = "LE";
        };

        LO: LO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp O>;
            label = "LO";
        };

        // --- 小さいヤ行 (ゃゅょ) ---

        LYA: LYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp Y &kp A>;
            label = "LYA";
        };

        LYU: LYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp Y &kp U>;
            label = "LYU";
        };

        LYO: LYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp Y &kp O>;
            label = "LYO";
        };

        // --- 小さい「っ」(促音) ・「ゎ」 ---

        LTU: LTU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp T &kp U>;
            label = "LTU";
        };

        LWA: LWA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp W &kp A>;
            label = "LWA";
        };

        // --- 小さい「ヶ」「ヵ」 ---

        LKE: LKE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp K &kp E>;
            label = "LKE";
        };

        LKA: LKA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp L &kp K &kp A>;
            label = "LKA";
        };

        kanalayer: kana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &tog 5>;
            label = "KANA";
        };

        englayer: englayer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &tog 0>;
            label = "ENGLAYER";
        };

        commaenter: commaenter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp ENTER>;
            label = "COMMAENTER";
        };

        periodenter: period {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PERIOD &kp ENTER>;
            label = "PERIOD";
        };
    };

    behaviors {
        softoff: softoff {
            compatible = "zmk,behavior-soft-off";
            label = "SOFTOFF";
            #binding-cells = <0>;
            hold-time-ms = <3000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp B      &kp G           &kp D             &kp R        &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp BACKSPACE  &kp Y     &kp E  &kp Q
&kp H      &kp K           &kp T             &kp N        &kp S           &kp C            &kp A          &kp I     &kp U  &kp V
&kp P      &kp L           &kp W             &kp M        &kp F           &kp O            &kp PERIOD     &kp J     &kp X  &kp Z
&kp LC(Z)  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &lt 2 SPACE  &kp SPACE       &kp BSPC         &lt 1 ENTER    &kp LCMD  &mo 3  &kp RC(Y)
            >;
        };

        layer1 {
            label = "NUMBER";
            bindings = <
&trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS       &trans  &trans    &kp UP    &trans     &trans
&trans  &kp N4        &kp N5        &kp N6        &kp MINUS      &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LS(MINUS)  &trans  &trans    &trans    &trans     &trans
&trans  &trans        &kp N0        &w0           &kp PERIOD     &trans  &trans    &trans    &trans     &trans
            >;
        };

        layer2 {
            label = "Symbol";
            bindings = <
&kp LEFT_BRACKET  &kp PERCENT  &kp LS(SQT)        &kp SLASH   &kp LS(SEMICOLON)  &kp SLASH  &kp EXCLAMATION      &kp DOLLAR            &kp QUESTION  &kp INT_YEN
&trans            &trans       &kp RIGHT_BRACKET  &kp LS(N8)  &kp MINUS          &kp EQUAL  &kp LS(N9)           &kp NON_US_BACKSLASH  &kp LS(N7)    &kp LS(NUMBER_2)
&trans            &trans       &trans             &trans      &kp LS(MINUS)      &trans     &kp INTERNATIONAL_1  &kp COMMA             &kp COLON     &kp SQT
&trans            &trans       &trans             &trans      &trans             &trans     &kp EXCLAMATION      &kp QUESTION          &trans        &trans
            >;
        };

        layer3 {
            label = "MOUSE";
            bindings = <
&kp N6  &kp N7  &kp N8     &kp N9  &kp N0     &mkp MB4  &mkp MB1   &mo 4           &mkp MB2  &mkp MB5
&trans  &trans  &trans     &trans  &trans     &trans    &kp LCTRL  &mkp MB3        &trans    &trans
&trans  &trans  &trans     &trans  &trans     &trans    &trans     &trans          &trans    &trans
&trans  &trans  &kp LC(Z)  &trans  &kp LC(Y)  &trans    &trans     &kp LEFT_SHIFT  &trans    &trans
            >;
        };

        layer4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans
            >;

            label = "mouse delicate";
        };

        layer5 {
            bindings = <
&mo 7   &KI     &TE     &SI          &kp LEFT  &kp RIGHT  &kp BACKSPACE  &RU     &SU     &HE
&RO     &KE     &TO     &KA          &LTU      &KU        &kp A          &kp I   &kp U   &kp MINUS
&HO     &HI     &HA     &KO          &SO       &TA        &NA            &NN     &RA     &RE
&trans  &trans  &trans  &lt 6 SPACE  &trans    &trans     &lt 6 SPACE    &trans  &trans  &trans
            >;

            label = "kanaA";
        };

        layer6 {
            bindings = <
&trans  &NU     &RI     &ME          &trans  &trans  &SA           &YO     &kp E   &YU
&SE     &MU     &NI     &MA          &TI     &YA     &NO           &MO     &WA     &TU
&trans  &trans  &WO     &commaenter  &MI     &kp O   &periodenter  &NE     &HU     &trans
&trans  &trans  &trans  &trans       &trans  &trans  &trans        &trans  &trans  &trans
            >;

            label = "kanaB";
        };

        layer7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &LYO    &LE     &LU
&trans  &LKE    &trans  &LKA    &trans  &LYA    &LA     &LI     &LU     &trans
&trans  &trans  &trans  &trans  &trans  &LO     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "kana mini";
        };

        layer8 {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &softoff  &trans  &trans
&trans        &trans        &trans        &trans        &bt BT_CLR      &trans  &trans  &trans    &trans  &trans
&trans        &trans        &trans        &trans        &bt BT_CLR_ALL  &trans  &trans  &trans    &trans  &trans
&trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans    &trans  &trans
            >;

            label = "bt&power";
        };
    };
};
